{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{author.username}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container mt-5 text-center">
        <img src="{{ author.image.url }}" alt="No image profile" width="200px" height="200px" class="rounded-circle">
        <h1>{{ author.username }}</h1> 
        <p> {{ author.description }}</p>
    </div>

    <div class="container mt-5 newest-post border-top">
        {% for post in author_posts %}
            <div>
                <img src="{{ post.image.url }}" alt="Error" width="100px" height="100px">
                <a href="{% url 'post_detail' post.pk %}" class="text-dark text-decoration-none">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.created_at }}</p>
                </a>
            </div>
            
            {% if user.is_authenticated %}
                {% if user.role == 'editor' and post.author == request.user %}
                    <!-- Nút chỉnh sửa (tuỳ chọn) -->
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary">Edit</a>
            
                    <!-- Nút xoá (tuỳ chọn) -->
                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-primary">Delete</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
